.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 170px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    gap: 35px;
    align-items: center
}
.footer-email-input{
    display: flex;
    gap: 30px;
    background: #32323B;
    border-radius: 50px;
    padding: 20px 30px;
    padding-right: 80px;
}
.footer-email-input input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #a0a0a0;
    font-size: 18px;
    font-family: Outfit;
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg,#FD8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.footer-email-input:hover{
    border: 2px solid white;
}
@media(max-width: 768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}
@media (max-width: 576px) {
    .footer {
        margin: 40px 50px;
    }
    .footer-top {
        gap: 40px;
    }
    .footer-bottom {
        margin-bottom: 40px;
    }
    .footer-email-input{
        padding: 13px 7px;
        padding-right: 0px;
    }
    .footer-subscribe{
        padding: 12px 40px;
        font-size: 18px;
    }
    .footer-top-right {
        display: flex;
        flex-direction: column;
        gap: 35px;
        align-items: center;
    }
}

/* Extra small phones */
@media (max-width: 400px) {
    .footer {
        margin: 30px 30px;
    }
    .footer-top {
        gap: 30px;
    }
    .footer-bottom {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .footer-top-right{
        display: flex;
        flex-direction: column;
    }
    .footer-subscribe{
        padding: 12px 40px;
        font-size: 18px;
    }
    .footer-email-input{
        padding: 13px 7px;
        padding-right: 0px;
    }
    .footer-top-left p{
    font-size: 14px;
    max-width: 400px;
}
}